assets/img/1_editables
assets/img/2_character_pepe/Pepe.png
assets/img/3_enemies_chicken/chicken_small/Muestra gif.gif
assets/img/3_enemies_chicken/chicken_small/Versión pollitos.png
assets/img/3_enemies_chicken/chicken_normal/Gallina muestra gif.gif
assets/img/3_enemies_chicken/chicken_normal/Versión Gallinitas.png
assets/img/4_enemie_boss_chicken/1_walk/Muestra.gif
assets/img/4_enemie_boss_chicken/2_alert/Muestra_alerta.gif
assets/img/4_enemie_boss_chicken/2_alert/Muestra_caminata_alerta.gif
assets/img/4_enemie_boss_chicken/3_attack/Muestra_ataque.gif
assets/img/4_enemie_boss_chicken/4_hurt/Muestra_herida.gif
assets/img/4_enemie_boss_chicken/5_dead/Muestra_herida_y_muerte.gif
assets/img/4_enemie_boss_chicken/5_dead/Muestra_muerte.gif
assets/img/4_enemie_boss_chicken/all_sequences.gif
assets/img/4_enemie_boss_chicken/Señora_gallina.png
assets/img/5_background/complete_background.png
assets/img/6_salsa_bottle/bottle_rotation/rotation_sequences.gif
assets/img/6_salsa_bottle/all_sequences.gif
assets/img/6_salsa_bottle/salsa_bottle.png
assets/img/7_statusbars/2_statusbar_endboss/blue.png
assets/img/7_statusbars/2_statusbar_endboss/green.png
assets/img/7_statusbars/2_statusbar_endboss/orange.png
assets/img/7_statusbars/3_icons
assets/img/7_statusbars/4_bar_elements
assets/img/7_statusbars/all_statusbars.png
assets/img/7_statusbars/example_1.png
assets/img/7_statusbars/example_2.png
assets/img/7_statusbars/example_3.png
assets/img/7_statusbars/example_4.png
assets/img/YouWonYouLost
!assets/img/YouWonYouLost/YouWinA.png
!assets/img/YouWonYouLost/GameOver.png
.DS_Store
.vscode/